.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.site {
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.site-main {
	text-align: center;
	position: relative;
	top: 6vh;
    margin: 10px 0;
}

.entry-title {
	font-family: $font__title;
}

.card {
	background: radial-gradient(#3a706d 30%, #305d5b);
    border-radius: 15px;
    @include flex-column;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    margin: 1em 1em;
    padding: 1em;

	.wp-block-group__inner-container {
		@include flex-column;
	}
}

.card__title {
	font-family: $font__title;
}

@media (max-width: 767px) {
	.entry-title {
		position: relative;
		font-size: 1.6em;
	}
}

@media (min-width: 768px) {
	.entry-content {
		display: flex;
		flex-direction: row;
	}

	.card {
		width: 25vw;
		justify-content: space-evenly;
	}
}

