.main-navigation {
	display: block;
	width: 100%;
	position: fixed;
	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {

				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}
			}

			a {
				width: 200px;
				
			}
		}
	}

	li {
		position: relative;
	}

	a {
		
		text-decoration: none;
		color: $color__text-nav-item;
	}
	
}


.nav-menu {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	background-color: $color__background-alt;
}

.menu-item a {
	padding: 0 1em;
	border-radius: 6px;
	
	
}

@keyframes navHighlight {	
	100% {
		background-color: $color__text-nav-item;
		color: $color__background-alt;;
	}
}

.menu-item a:hover {
	animation-name: navHighlight;
	animation-duration: 0.3s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
	color: $color__background-body;
}

@media screen and (min-width: 37.5em) {

	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
	}	
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}


//Footer menu SCSS
.site-footer {
    background-color: $color__background-alt;
    color: $color__text-nav-item;
}

.menu-footer-container ul {
	@include flex-row;
	justify-content: space-evenly;
	list-style: none;
}

.site-info {
	@include flex-column;
}