button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: solid transparent;
	border-color: $color__border-button;
	border-radius: 6px;
	background: $color__background-button;
	line-height: 1;
	margin: 1em;
	padding: 0.6em 1em 0.4em;

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}

.wp-block-button__link {
	color: $color__text-button;
	background-color: transparent;
	border-radius: 6px;
	border: solid;
}

.wp-block-button__link:hover {
	border-radius: 6px; ;
	color: $color__text-button-hover;
	background-color: $color__background-button-hover;
	border: solid transparent;
}


