$color__background-body: #417D7A;
$color__background-screen: purple;
$color__background-alt: #EDE6DB;
$color__background-hr: #ccc;
$color__background-button: #EDE6DB;
$color__background-button-hover: #EDE6DB;
$color__background-pre: #EDE6DB;
$color__background-ins: #EDE6DB;

$color__text-screen: #f1f1f1;
$color__text-input: #f1f1f1;
$color__text-input-focus: #f1f1f1;
$color__link: #417D7A;
$color__link-visited: #417D7A; //purple
$color__link-hover: #417D7A; //midnightblue
$color__text-main: #f1f1f1;
$color__text-button: #f1f1f1;
$color__text-button-hover: #417D7A;
$color__text-nav-item: #417D7A;

$color__border-button: #EDE6DB;
//$color__border-button-hover: #e60505;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
